<h1>You are editing this prehistoric: <%= preId %></h1>

<form method="POST" action="/prehistorics/<%= preId%>/?_method=PUT">
    <label for="prehistoricType">Type</label>
    <input type='text' name ='type' id='prehistoricType' placeholder='<%= pre.type %>'>

    <label for='prehistoricName'>Name</label>
    <input type='text' name='name' id='prehistoricName' value='<%= pre.name %>'>

    <input type='submit'>
</form>