<h1>Add a New Prehistoric</h1>

<form action="/prehistorics" method="POST">
    <label for="prehistoricType">Type</label>
    <input type='text' name ='type' id='prehistoricType'>

    <label for='prehistoricName'>Name</label>
    <input type='text' name='name' id='prehistoricName'>

    <input type='submit'>
</form>